:root{
    --font: sans-serif;
    --main-color: #364fab;
    --font-nav-color: #364fab;
    --font-button-1-color: white;
    --font-footer-color: white;
    --footer-color: #364fab; 
    --font-size: 1.5em;

    --padding: 5em;
}
body{
    margin: 0;
    *{
        animation: load 1s;
        user-select: none;
        transition: 100ms ease-in-out;
    }

    main{
      .section-1{
        padding: var(--padding);
        display: flex;
        gap: 1em;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-style: solid;
            width: 30rem;
            border-color: var(--main-color);
            border-radius: 1em;
            padding: 1em;
            
           img{
            width: 10rem;
            height: 5rem;
           }
      
            p{
                margin: 0;
                 font-family: var(--font);
                color: var(--main-color);
                font-size: calc(var(--font-size)*0.8);
            }
                 a{
            text-decoration: none;
            p{
                margin-top: 0.5em;
                font-size: calc(var(--font-size)*1);
                color: white;
                background-color: var(--main-color);
                padding: 1em;
                border-radius: 1em;
            }
           }
        }
      }
    }

 
}