:root{
    --font: sans-serif;
    --main-color: #364fab;
    --font-nav-color: #364fab;
    --font-button-1-color: white;
    --font-footer-color: white;
    --footer-color: #364fab; 
    --font-size: 1.5em;

    --padding: 5em;
}
body{
    margin: 0;
    *{
        
        user-select: none;
        transition: 100ms ease-in-out;
    }

    main{
       
        .buttons{
                display: flex;
                gap: 1em;
                .start-now-button{
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: var(--main-color);

                padding: 1em;
                border-radius: 2em;
                gap: 1em;
                *{
                    margin: 0;
                }
             
                .arrow {
                        width: 50px;

                        flex: 0 0 0px;
                        background-position: -0px -0px;
                        scale: 0.5;
                         transition: flex 100ms ease-in-out, opacity 100ms ease-in-out;

                    }
                p{
                    font-family: var(--font);
                color: var(--font-button-1-color);
                font-size: calc(var(--font-size) *1);
                }
                
            }
             a{
                text-decoration: none;
            }
            .start-now-button:hover{

                 .arrow{
                      flex: 0 0 50px;
                }
            }
            }

        .section-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: var(--padding);
            background-image: url(graphics/banner.webp);
           height: 53%;
            img{
                
                visibility: var;
                width: 70em;
    
            }
            
            
        }
        .section-2{
            .carousel{
                display: flex;
                overflow-x: auto;
                justify-content: center;
                background-color: var(--main-color);
                .asterisk {
                        width: 50px;

                        flex: 0 0 50px;
                        background-position: -50px -0px;

                    }
                .cards{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5em;
                    padding: 2em;
                    animation: spin 20s infinite linear;
                    p{
                        flex: 0 0 15em;
                        margin: 0;
                        font-family: var(--font);
                        color: white;
                        font-size: calc(var(--font-size) *1.3);
                        text-align: center;
                    }
                    img{
                      flex: 0 0 2em;
                      height: 2em;
                    }
                    
                }
            }
            .carousel::-webkit-scrollbar{
                display: none;
    
            }
        }
        .section-3{
        display: flex;
        flex-direction: column;
        padding: var(--padding);
        justify-content: center;
        align-items: center;
        gap: 1em;

         p{
                margin: 0;
                font-family: var(--font);
                color: var(--main-color);
                font-size: calc(var(--font-size) *0.8);
            }
            .big-text{
                width: 40%;
                font-size: calc(var(--font-size) *2);
            }
       
            .group{
                display: flex;
                justify-content: center;
                align-items: start;
                width: 70%;
                 img{
            border-radius: 1em;
            flex: 1 1 0;
        }
        
       
            
                .photos{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    .above{
                        display: flex;
                        flex-direction: row;
                       
                    }
                    .above img:first-child{
                        max-width: 70%;
                    }
                    .above img:last-child{
                        max-width: 30%;
                        height: 30%;
                    }
                    .bottom{
                        display: flex;
                        img{
                            max-width: 100%;
                        }
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    padding: 1em;
                    .percentage-group{
                         display: flex;
                         flex-direction: column;
                        align-items: start;
                         gap: 1em;
                        .bar-group{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                           img{
                            width: 13em;
                            height: 10em;
                           }
                        }
                    }
                }
                
            }
        .section-4{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            gap: 1em;
            .information-sub-group p:first-child{
                 font-size: calc(var(--font-size) *2);
            }
        }
       
    }
    
    .footer-section{
        display: flex;
        background-color: var(--footer-color);
        p{
            margin: 2em;
            font-family: var(--font);
            color: var(--font-footer-color);
            font-size: calc(var(--font-size)*0.6);
        }
    }
}
}

@keyframes spin {
    from{
        translate: 0;
    }
    to{
        translate: -100%;
    }
}

  @media only screen and (max-width: 900px) {
  :root{
     --padding: 0;
}
main{
    .section-1{
        
        .hot-beans-logo{
            width: 100%;
        }
    }
    .section-3{
        display: flex;
       .group{
        flex-direction: column;
        .text{
            .percentage-group{
            flex-direction: row;
        }
        }
       }
    }
}
}